body{
    font-family: 'Poppins', sans-serif;
}
.bg-moment{
    background-color: thistle;
}
.btn-color{
    background-color:#F496D1;
}
.hover-card{
    transition: transform 2s ease-in-out;
}
.hover-card:hover{
    background-color: blue;
    margin-top: -20px;
    color: white;
    border-radius: 20px;
    transform: scale(0.75);
}
.fas-hover{
 color: gray;
}
.hover-card:hover .fas-hover{
    color: white;

}
.margin-special{
    margin-top: -30px;
}
.bg-img-client{
    background-image: url("images/background/dream-bg.png");
    background-repeat: no-repeat;
    position: left;
}
.last-part{
    width: 50%;
}
.btn-width{
    width: 200px;
}
.second-footer{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
@media (min-width:576px) and (max-width:7678px) {
    .respo{
        margin-top:0.1px;
    }
}
@media (max-width:576px) {
    .car-img{
        height: 187px;
    }
    .respo{
        margin-top:30px;
    }
    .respo-btn{
        margin-bottom: 10px;
    }
    .respo-ask{
        flex-wrap: wrap;
    }
   .flex-footer, .second-footer{
       flex-wrap: wrap;
       flex-direction: column;
       justify-content: center;
   }
   .footer{
       height: 100%;
       width: 100%;
     
   }
   .first-footer{
       order: 1;
       margin-top: -40px;
       height: 2px;
   }
   .second-footer{
      
       order:0;
     
   }
    
}